body{
    max-width: 1160px;
    margin: auto;
}
body>*{
    background-color: #782221;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
address{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

h3{
    background-color: #dbc2a4;
    color: black;
    
}
div{
    display: flex;
}
.side-bar{
    display: flex;
    flex-direction: column;
    text-indent: 25px;
    justify-content: start;

}

.side-bar_element{
    display: flex;
    flex-direction:column;
    max-width: 300px;
    text-align: justify;
    color: white;
}
.side-bar_element_presentation{
    padding-left: 15px;
}
.side-bar:first-child{
    justify-items:stretch;
    padding-right: 50px;
}
.main-content{
    display: flex;
    flex-direction: column;
    width: 860px;
    padding: 15px;
    background-color: white;
    border-right-style: solid;
}
.main-content h3{
    border-left: 5px solid #782221
}
.main-content_element{
    display: flex;
    flex-direction: column;
}
footer{
    text-align: center;
}

