address{
    display: flex;
    flex-direction: row;
}
div{
    display: flex;
}
.side-bar{
    display: flex;
    flex-direction: column;
}
.side-bar_element{
    display: flex;
    flex-direction: column;

}
.main-content{
    display: flex;
    flex-direction: column;
}
.main-content_element{
    display: flex;
    flex-direction: column;
}